<nav class="navbar is-transparent">
  <div class="navbar-brand">
    <a href="" class="navbar-item"></a>
    <div class="navbar-burger burger" data-target="gns3Navbar">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="gns3Navbar" class="navbar-menu">
    <div class="navbar-start">
      <a href="" class="navbar-item">Home</a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">Server</a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item">Start</a>
          <a class="navbar-item">Stop</a>
          <a class="navbar-item">Pause</a>
        </div>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="button is-primary" href="https://docs.gns3.com">
              <span class="icon">
                <i class="fas fa-book"></i>
              </span>
              <span>Documentation</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>
