<nav class="navbar is-primary">
  <div class="navbar-brand">
    <a href="" class="navbar-item"></a>
    <div class="navbar-burger burger" data-target="gns3Navbar">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="gns3Navbar" class="navbar-menu">
    <div class="navbar-start">
      <a href="" class="navbar-item">Home</a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">Server</a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" (click)="setPlay()">
            <span class="icon">
                <i class="fas fa-play"></i>
              </span>
            <span>Start</span>
          </a>
          <a class="navbar-item" (click)="setStop()">
            <span class="icon">
                <i class="fas fa-stop"></i>
              </span>
            <span>Stop</span>
          </a>
          <a class="navbar-item" (click)="setPause()">
            <span class="icon">
                <i class="fas fa-pause"></i>
              </span>
            <span>Pause</span>
          </a>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">Projects</a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" data-target="project-list" aria-haspopup="true" (click)="openProjectList()">
            <span class="icon">
              <i class="fas fa-list"></i>
            </span>
            <span>Choose Project</span>
          </a>
          <a class="navbar-item" data-target="new-project" aria-haspopup="true" (click)="openCreateProject()">
            <span class="icon">
                <i class="fas fa-plus"></i>
              </span>
            <span>New</span>
          </a>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">Nodes</a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" data-target="new-node" aria-haspopup="true" (click)="openCreateNode()">
            <span class="icon">
                <i class="fas fa-plus"></i>
              </span>
            <span>New</span>
          </a>
        </div>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="button is-primary" href="https://docs.gns3.com">
              <span class="icon">
                <i class="fas fa-book"></i>
              </span>
              <span>Documentation</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>
<app-list-projects></app-list-projects>
<app-create-project></app-create-project>
<app-create-node></app-create-node>
